@theme {
  --color-foreground: #2d3436;
  --color-foreground-light: #505050;
  --color-foreground-muted: #6b7c8a;

  --color-background: #fff;
  --color-background-accent: #0076a8;
  --color-background-muted: #f4f7f9;
  --color-background-muted-light: #6b7c8a;
  --color-background-muted-dark: #404b54;
  --color-background-surface: #f4f7f9;

  --color-accent: #0076a8;
  --color-navy: #1b365d;
  --color-charcoal: #404b54;

  --color-success: #2ec1ac;
  --color-danger: #e97171;

  --color-border: #d1d9e0;

  --font-heading: 'Source Sans 3', sans-serif;
  --font-body: 'Source Sans 3', sans-serif;

  --radius-base: 0;

  /*
  This does not show in the theme editor
  but is used to override the defaults based on the user's selection for radius-base
  */
  --radius-xs: 0;
  --radius-sm: 0;
  --radius-md: 0;
  --radius-lg: 0;
  --radius-xl: 0;
  --radius-2xl: 0;
  --radius-3xl: 0;
  --radius-4xl: 0;
}
